<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Person</title>
</head>
<body>

<p>Person id = <b><span th:text="${person.getId()}">ID</span></b></p>

<p>Person name is <b><span th:text="${person.getName()}">NAME</span></b></p>

<p>Person age = <b><span th:text="${person.getAge()}"></span></b></p>

<p>Person email = <b><span th:text="${person.getEmail()}"></span></b></p>

<br>
<a th:href="@{/people}">Back</a>
<br>
<br>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<br>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
	<input type="submit" value="Delete!"/>
</form>
</body>
</html>